
    <div class="alle-paginas">
        <ul class="nummers">
            <li><a href="#"><</a></li>
            <li><a href="#" class="pagina-1">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>
