 <footer>
    <div class="footer-ctc">
        <a href="/">
             <img src="/assets/images/logoCTC-wit.png" class="logo-ctc" alt="logo of coding the curbs">
        </a>
    </div>
        
</footer> 


</body>
</html>