<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding the Curbs</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">
</head>
<body>

<header>
    <div class="header-ctc">
        <a href="/">
            <img src="/assets/images/logoCTC-wit.png" class="logo-ctc" alt="logo of coding the curbs">  
        </a>

        <a href="/formulier.liquid">Nieuwe Quickscan</a>
    </div>
</header>