{%  render 'partials/head.liquid' %}

{%  render 'partials/pijltje-terug.liquid' %}

<main class="formulier">
    <h1>Quickscan</h1>

    {%  render 'partials/sub-logo.liquid' %}
    
    <form action="quickscan-detailpagina" class="formulier-quickscan" method="POST">

        <fieldset class="locatie-tijd joe">
            <legend>Locatie & tijd</legend>

            <label for="city" class="label-ctc">Stad:</label>
            <input name="city" type="text" id="city" class="input-design">

            <label for="adres" class="label-ctc">Adres:</label>
            <input name="address" type="text" id="adres" class="input-design">


             <label for="time" class="label-ctc">Tijd:</label>
            <input name="time" type="time" id="time" class="input-design">
        </fieldset>

        <fieldset class="geschiktheid joe">
            <legend>Geschiktheid</legend>

            <label for="status" class="label-ctc testie">Status:</label>
            <div class="status">
                <div>
                    <input type="radio" id="vrij" name="status" value="vrij">
                    <label for="vrij">Vrij</label>
                </div>
                <div>
                    <input type="radio" id="bezet" name="status" value="bezet">
                    <label for="bezet">Bezet</label>
                </div>
                <div>
                    <input type="radio" id="overtreding" name="status" value="overtreding">
                    <label for="overtreding">Overtreding</label>
                </div>
                <div>
                    <input type="radio" id="bestaat-niet" name="bestaat-niet" value="bestaat niet">
                    <label for="bestaat-niet">Bestaat niet</label>
                </div>
            </div>


            <label for="geschiktheid-monitoring" class="label-ctc testie">Geschiktheid monitoring:</label>
            <div class="monitoring">
                <div>
                    <input type="radio" id="neutraal" name="monitoring_suitability" value="neutraal">
                    <label for="neutraal">Neutraal</label>
                </div>
                <div>
                    <input type="radio" id="geschikt" name="monitoring_suitability" value="geschikt">
                    <label for="geschikt">Geschikt</label>
                </div>
                <div>
                    <input type="radio" id="ongeschikt" name="monitoring_suitability" value="ongeschikt">
                    <label for="ongeschikt">Ongeschikt</label>
                </div>
            </div>


            <label for="geschiktheid-smartzone" class="label-ctc testie">Geschiktheid smart zone:</label>
            <div class="smartzone">
                <div>
                    <input type="radio" id="neutraal2" name="smartzone_suitability" value="neutraal">
                    <label for="neutraal2">Neutraal</label>
                </div>
                <div>
                    <input type="radio" id="geschhikt2" name="smartzone_suitability" value="geschikt">
                    <label for="geschikt2">Geschikt</label>
                </div>
                <div>
                    <input type="radio" id="ongeschikt2" name="smartzone_suitability" value="ongeschikt">
                    <label for="ongeschikt2">Ongeschikt</label>
                </div>
            </div>
        </fieldset>

        <fieldset class="details joe">
            <legend>Details</legend>

            <label for="verkeersbord" class="label-ctc testie">Verkeersbord:</label>
            <input name="traffic_sign" type="text" id="verkeersbord" class="input-design">

            <label for="observaties" class="label-ctc">Observaties:</label>
            <textarea name="comment" id="observaties" maxlength="100" class="input-design"></textarea>

            <label for="lengte" class="label-ctc">Lengte(cm):</label>
            <input name="length" type="text" id="lengte" class="input-design">

            <label for="foto" class="label-ctc">Foto:</label>
            <input type="file" id="foto" class="input-design-file">
        </fieldset>

        <input type="submit" value="Verzenden" class="verzend-knop">
</main>