{%  render 'partials/head.liquid' %}

<main class="home">

    {%  render 'partials/sub-logo.liquid' %}
    
    <h1>Alle steden</h1>

    <div class="steden-grid">
        {% for city in cities  %}
            
            <section class="">
                <a href="/stad">
                {% if city.picture %}
                <img src="https://fdnd-agency.directus.app/assets/{{ city.picture }}" alt="" width="180" height="140">
                {% else %}
                <img src="assets/images/voorbeeldfoto2.png" alt="{{ city.city }}" width="180" height="140">
                {% endif %}
                <h2>{{ city.city }}</h2>
                </a>
            </section>

        {% endfor %} 
    </div>

    {%  render 'partials/123-nav.liquid' %}

</main>


{%  render 'partials/foot.liquid' %}


