{%  render 'partials/head.liquid' %}

<main class="stad">

    <img src="/assets/images/voorbeeldfoto1.png" alt="Bezorger lost kratten dranken uit op een plein" class="header-stad">

    <div>
        {%  render 'partials/pijltje-terug.liquid' %}
        <h1>'s Hertogenbosch</h1>
    </div>

    <section>
        {% for city in cities  %}
                
            <section class="locaties">
                <a href="/stad">
                {% if city.picture %}
                <img src="https://fdnd-agency.directus.app/assets/{{ city.picture }}" alt="" width="180" height="140">
                {% else %}
                <img src="assets/images/voorbeeldfoto2.png" alt="{{ city.city }}" width="180" height="140">
                {% endif %}
                <div class="straatnaam">
                <svg viewBox="0 0 227 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 23.9043V0.904268C17.5 -4.09559 48.5 12.9042 55.5 20.9042C59.6256 25.6192 84.5 70.9041 114 70.9041C143.5 70.9041 149.5 47.4043 170.5 23.9043C187.3 5.10427 214.833 0.737601 226.5 0.904268V23.9043C213.667 23.9043 184.5 30.6043 170.5 57.4043C156.5 84.2043 127 92.9043 114 93.9043C101.333 94.4043 71.7 87.8043 54.5 57.4043C37.3 27.0043 11 22.4043 0 23.9043Z" fill="#585A9D"/>
                </svg>
                <h2>{{ city.address }}</h2>
                </div>
                </a>
            </section>

        {% endfor %} 
    </section>
    
    {%  render 'partials/123-nav.liquid' %}

</main>

{%  render 'partials/foot.liquid' %}
