
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM sans', sans-serif; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

@font-face {
    font-family: DM sans;
    src: url('../fonts/DMSans_18pt-Thin.ttf');
    font-weight: 100 ; /* thin */
}

@font-face {
    font-family: DM sans;
    src: url('../fonts/DMSans_18pt-Regular.ttf');
    font-weight: 400 ; /* regular */
}

@font-face {
    font-family: DM sans;
    src: url('../fonts/DMSans_18pt-Medium.ttf');
    font-weight: 500 ; /* medium */
}

@font-face {
    font-family: DM sans;
    src: url('../fonts/DMSans_18pt-Bold.ttf');
    font-weight: 700 ; /* bold */
}

@font-face {
    font-family: DM sans;
    src: url('../fonts/DMSans_18pt-Black.ttf');
    font-weight: 800 ; /* black */
}

:root {
    /* colors */
    --primary-color: #585A9D;
    --secondary-color: #efd61f;
    --dark-accent: #000000;
    --light-accent: #FFFFFF;
    --bg-color: #ffffff;
    --text-color: #000000;

    /* borders */
    --border-radius: 0.3rem;

    /* button quickscan */
     --buttonquickscan-color: #000000;

    /* ;legend */
    --legend-color: #ffffff;

    /* quickscan detailpagina */
    --background-fields:  #E0E1F0;
    --button-coord-color: #ffffff;
    --button-coord-hover-color: #000000;

    /* schaduw */
    --shadow: inset 0 1px 2px oklch(100% 0 0 / 12.82%), 0 2px 4px oklch(0 0 0 / 10.82%), 0 4px 8px oklch(0 0 0 / 8.24%);
    
    /* font weights */
    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 800;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark mode — overschrijf alleen wat anders moet */
        --bg-color: #121212;
        --text-color: #ffffff;
        --dark-accent: #ffffff; 
        --background-fields:  #3d3f6e;
        --buttonquickscan-color: #000000;
        --legend-color: #000000;
    }
}