/* MARK: partial head.liquid */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* container-type: scroll-state; */
}


.header-ctc {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--primary-color);
    align-items: center;
    white-space: nowrap;

    a:nth-of-type(2) {
        text-decoration: none;
        background-color: var(--light-accent);
        border-radius: var(--border-radius);
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 0.7rem;
        color: var(--dark-accent);

        &:hover {
            text-decoration: underline;
        }
    }

    .logo-ctc {
        width: 70%;
        height: 100%;
    }
}


/* MARK: partial foot.liquid */
.footer-ctc {
    background-color: var(--primary-color);
    padding: 1.5rem;

    .svg {
        padding: 2rem;
    }

    p {
        color: var(--light-accent);
    }

    .logo-ctc {
        width: 30%;
        height: 100%;
    }

    .logo-ub {
        width: 30%;
        height: 100%;
    }

    .logos-footer {
        display: flex;
        justify-content: space-between;
    }

    .underline {
        text-decoration: underline;
    }
}


/* MARK: partial terug-pijltje */
.pijltje-terug {
    margin: 1rem;
}

/* MARK: partial sub-logo */
.sub-logo {
    height: 40rem;
    width: 40rem;
    overflow: hidden;
    opacity: 5%;
    position: fixed;
    top: -10rem; 
    z-index: -100; 
}


/* MARK: partial 123-nav */
    .alle-paginas {
        justify-content: center;
        font-size: 0.9rem;
        margin: 0rem 2rem 2rem 2rem;
    }

    .nummers {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        color:var(--black-color);
        list-style-type: none;
    }

    .nummers a {
        text-decoration: none;
        color:var(--black-color);
    }

    .nummers a:hover {
        font-weight: 600;
        color: var(--accent-color);
    }

    .nummers .pagina-1 {
        color: var(--accent-color);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px; 
    }


/* MARK: homepage */
main.home {
    h1 {
        text-align: center;
        margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    }

    .steden-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.8rem;
        padding:  1rem 1rem 1rem 1rem;

        h2 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        a {
            text-decoration: none;
            color: var(--dark-accent);

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;  
            }
        }
    }

    .locatie-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.8rem;
        padding:  1rem 1rem 1rem 1rem;
    }
}


/* MARK: stad */
main.stad {   
    h1 {
        font-size: 1.9rem;
    }

    .locatie {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .header-stad {
        width: 100%;
        height: 250px;
        filter: brightness(80%);
    }

    .alle-paginas {
        margin: 2rem;
    }

    .locaties {
        margin: 1rem;
        font-size: 1rem;

        svg {
            width: 25px;
            height: 25px;
        }

        .straatnaam {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            margin-left: 1rem;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--dark-accent);

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;  
            }
        }
    }
}


/* MARK: formulier */
main.formulier {
    h1 {
        text-align: center;
    }

    .sub-logo {
        height: 40rem;
        width: 40rem;
        overflow: hidden;
        opacity: 5%;
        position: fixed;
        top: -10rem; 
        z-index: -100; 
    }

    .formulier-quickscan {
        display: flex;
        color: var(--light-accent);
        flex-direction: column;
        background-color: var(--primary-color);
        margin: 0.5rem;
        padding: 1.5rem 0.8rem 1.5rem 0.8rem;
        gap: 0.5rem;
        
         .label-ctc {
            display: flex;
            flex-direction: column;

            .foto {
                background-color: var(--primary-color);
            }
        
            textarea {
                max-width: 100%; /* zorgt ervoor dat je het textarea niet uit het vak kan trekken */
            }
        }

        .input-design { 
            background-color: #F2F3F7;
            border-radius: var(--border-radius);
            padding: 0.3rem;
            margin-bottom: 1.3rem;
        }

        .input-design-file {
                margin-bottom: 1.3rem;
            }

        .verzend-knop {
            width: 35%;
            height: 35px;
            background-color: transparent;
            border-color: var(--secondary-color);
            color: var(--secondary-color);
            border-radius: var(--border-radius);

            &:hover {
                background-color: var(--secondary-color);
                color: var(--dark-accent);
            }
        }
    }
}
