/* MARK: partial head.liquid */
header {
    position: sticky;
    top: 0;
    z-index: 100;

    @media (min-width: 500px) {
        margin: 0 auto;
        max-width: 500px;
    }
}

.header-ctc {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--primary-color);
    align-items: center;
    white-space: nowrap;
    min-height: 80px;

    a:nth-of-type(2) {
        text-decoration: none;
        background-color: var(--light-accent);
        border-radius: var(--border-radius);
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 0.7rem;
        color: var(--buttonquickscan-color);
        font-weight:var(--font-weight-bold);
        box-shadow: var(--shadow);
      
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;  
        }
    }

    .logo-ctc {
        width: 150px;
        height: 100%;
    }

    @media (min-width: 500px) {
        margin: 0 auto;
        max-width: 500px;
    }
}


/* MARK: partial foot.liquid */
.footer-ctc {
    background-color: var(--primary-color);
    padding: 1.5rem;

    .svg {
        padding: 2rem;
    }

    p {
        color: var(--light-accent);
    }

    .logo-ctc {
        width: 30%;
        height: 100%;
    }

    .logo-ub {
        width: 30%;
        height: 100%;
    }

    .logos-footer {
        display: flex;
        justify-content: space-between;
    }

    .underline {
        text-decoration: underline;
    }

    @media (min-width: 500px) {
        margin: 0 auto;
        max-width: 500px;
    }
}


/* MARK: partial terug-pijltje */
.pijltje-terug {
    margin: 1rem;
    color: var(--text-color);

    @media (min-width: 500px) {
            max-width: 500px;
            margin: 0 auto;
            overflow: hidden;
            gap:  1rem
        }
}


/* MARK: partial pijltje terug top*/
html {
    container-type: scroll-state;

    @media (prefers-reduced-motion:no-preference) {
        scroll-behavior: smooth;
    }
}

a[href="#top"] {
    position: fixed;
    right: 1em;
    bottom: 1em;
    transition: .5s ease-in-out;
    background-color: var(--background-fields);
    padding: 0.7rem;
    border-radius: var(--border-radius);
    color: var(--dark-accent);
    text-decoration: none;
}

@supports (container-type: scroll-state) {
    a[href="#top"] {
        translate: 0 calc(100% + 1em);  
    }

    @container scroll-state(scrollable: top) {
        a[href="#top"] {
            translate: 0 0;
        }
    }
}


/* MARK: partial sub-logo */
.sub-logo {
    height: 40rem;
    width: 40rem;
    overflow: hidden;
    opacity: 5%;
    position: fixed;
    top: -10rem; 
    z-index: -100; 
}


/* MARK: partial 123-nav */
    .alle-paginas {
        justify-content: center;
        font-size: 0.9rem;
        margin: 0rem 2rem 2rem 2rem;
    }

    .nummers {
        display: flex;
        flex-direction: row;
        /* gap: 1em; */
        justify-content: center;
        color:var(--black-color);
        list-style-type: none;
    }

    .nummers a {
        display: inline-flex;
        text-decoration: none;
        min-height: 44px;
        min-width: 24px;
        color:var(--black-color);
    }

    .nummers a:hover {
        font-weight: var(--font-weight-medium);
        color: var(--accent-color);
    }

    .nummers .pagina-1 {
        color: var(--accent-color);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px; 
    }


/* MARK: homepage */
main.home {
    h1 {
        margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    }

    img {
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
    }

    .steden-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.8rem;
        padding:  1rem 1rem 1rem 1rem;

        h2 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            font-weight: var(--font-weight-medium);
        }

        a {
            text-decoration: none;
            color: var(--dark-accent);

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;  
            }
        }
    }

    .locatie-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.8rem;
        padding:  1rem 1rem 1rem 1rem;
    }

    @media (min-width: 500px) {
        max-width: 500px;
        margin: 0 auto;
        border-left: 1px solid black;
        border-right: 1px solid black;
        overflow: hidden;
        border-color: var(--dark-accent);

        .sub-logo {
            display: none;
        }
    }
}


/* MARK: stad */
main.stad {   
    h1 {
        font-size: 1.9rem;
    }

    img {
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
    }

    .locatie {
        display: flex;
        align-items: center;
        margin: 1rem;
        gap: 1rem
    }

    p {
        font-size: 1.2rem;
        font-weight: var(--font-weight-medium);
    }

    .header-stad {
        width: 100%;
        height: 250px;
        filter: brightness(80%);
        border-radius: 0rem;
    }

    .alle-paginas {
        margin: 2rem;
    }

    .locaties {
        margin: 1rem;
        font-size: 1rem;
        
        @supports (animation-timeline: view()) {
            @media (prefers-reduced-motion:no-preference) {
                animation: reveal linear both;
                animation-timeline: view();
                animation-range-start: entry 0%;
                animation-range-end: entry 75%;
                /* shortcut -> animation-range: entry 0% entry 75%; */
                /* entry 100% voor een trage fade, entry 50% voor een snelle */
            }
        } 

        svg {
            width: 25px;
            height: 25px;
        }

        .straatnaam {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            margin-left: 1rem;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--dark-accent);

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;  
            }
        }
    }

    @media (min-width: 500px) {
        max-width: 500px;
        margin: 0 auto;
        border-left: 1px solid black;
        border-right: 1px solid black;
        overflow: hidden;
        border-color: var(--dark-accent);
    }
}

@keyframes reveal {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* MARK: quickscan detailpagina */
.quickscan-detailpagina {
    margin: 0rem 1rem 1rem 1rem;

    .pijltje-terug {
        padding: 0rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    h1 {
        font-size: 1.5rem;
        background-color: var(--primary-color);
        color: var(--light-accent);
        font-weight: var(--font-weight-medium);
        border-radius: 0px 0px 15px 15px;
        padding: 0.75rem;
    }

    h2 {
        font-size: 1.2rem;
        background-color: var(--primary-color);
        color: var(--light-accent);
        font-weight: var(--font-weight-regular);
        padding: 0.75rem;
        border-radius: 15px 15px 0 0;
    }

    .info1 {
            padding: 1rem 1rem 0.5rem 1rem;
        } 

    .locatie-tijd, 
    .geschiktheid, 
    .details {
        background-color:var(--background-fields);
        margin-block: 1rem;
        border-radius: 15px;
        border-bottom: solid;
    } 

    dl {
        margin: 0;
    }

    dt {
        display: inline;
        font-weight: bold;
    }

    dd {
        display: inline;
        margin: 0;

            &::after {
                content: '';
                display: block;
                margin-bottom: 8px
            }
        }

        @media (min-width: 500px) {
            max-width: 500px;
            margin: 0 auto;
            overflow: hidden;
        }
    }


/* MARK: formulier */
main.formulier {

    a:first-child {
        display: block;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    h1 {
        text-align: center;
    }

    .sub-logo {
        height: 40rem;
        width: 40rem;
        overflow: hidden;
        opacity: 5%;
        position: fixed;
        top: -10rem; 
        z-index: -100; 
    }

    .button-coordinaten {
        background-color: transparent;
        color: var(--button-coord-color);
        
        border-color: var(--light-accent);
        border-radius: var(--border-radius);
        padding: 0.4rem;
        font-weight: var(--font-weight-light);

        &:hover {
            background-color: #E0E1F0;
            color: var(--button-coord-hover-color);
        }
    }

    .formulier-quickscan {
        display: flex;
        color: var(--light-accent);
        flex-direction: column;
        margin: 0.5rem;
        padding: 1.5rem 0.8rem 1.5rem 0.8rem;
        gap: 0.5rem;
        border-radius: var(--border-radius);
 
         .label-ctc {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
        }

        & .label-ctc[for="time"] {
            margin-top: 1.5rem;
        }

        input[type="radio"] {
            margin: 0.3rem 0.5rem 0.3rem 0.5rem;
            width: 1.2rem;
            height: 1.2rem;
        }
            
        .foto {
            background-color: var(--primary-color);
        }
        
        textarea {
            max-width: 100%;
            resize: vertical;  /* zorgt ervoor dat je het textarea niet uit het vak kan trekken */
        }

        .input-design { 
            background-color: #F2F3F7;
            border-radius: var(--border-radius);
            padding: 0.3rem;
            margin-bottom: 1.3rem;
            width: 100%;
        }

        .input-design-file {
            margin-bottom: 1.3rem;
        }

        .verzend-knop {
            width: 35%;
            height: 35px;
            background-color: var(--primary-color);
            border-color: var(--dark-accent);
            border: 1px solid transparent;
            color: var(--light-accent);
            border-radius: var(--border-radius);
            margin-top: 1rem;

            &:hover {
                background-color: transparent;
                border-color: var(--primary-color);
                color: var(--primary-color);
            }
        }

        fieldset {
            background-color: var(--primary-color);
            border-radius: 1.3rem;
            border-color: none;  
            margin-top: 1rem;
            border: none;
        }

        legend {
            background-color: var(--dark-accent);
            color: var(--legend-color);
            padding: 10px 20px;
            border-radius: var(--border-radius);

            .tijd {
                margin-top: 1rem;
            }
        }

        .fieldset-padding {
            padding: 0.5rem 2rem 2rem 2rem;
        }

        .label-spacing {
            display: block;
            margin-top: 1.5rem;
        }

        ::placeholder {
            font-style: italic;
            color:rgb(117, 116, 116);
        }

        input[readonly] {
            background-image: linear-gradient(#d8d7d7 0 0);
        }
    }
    
    @media (min-width: 500px) {
        margin: 0 auto;
        max-width: 500px;

        .sub-logo {
            display: none;
        }

        a:first-child {
        display: block;
        margin-top: 3rem;
        margin-left: 2rem;
    }
    }
}