
/* MARK: partial head.liquid */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* container-type: scroll-state; */
}


.header-ctc {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--primary-color);
    align-items: center;
    white-space: nowrap;

    a:nth-of-type(2) {
        text-decoration: none;
        background-color: var(--light-accent);
        border-radius: var(--border-radius);
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 0.7rem;
        color: var(--dark-accent);

        &:hover {
            text-decoration: underline;
        }
    }

    .logo-ctc {
        width: 70%;
        height: 100%;
    }
}



/* MARK: partial terug-pijltje */
.pijltje-terug {
    margin: 1rem;
}


/* MARK: homepage */
main.home {

    h1 {
        text-align: center;
        margin-block: 1rem;
    }
}

